.Refund {
  margin-right: 5rem;
}

.Refund___input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 13rem;
}

.Refund___button {
  width: 100%;
  margin-top: 0.5rem;
}

.Refund___error {
  color: #ff5454;
}
